* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 0, 0);
    background-color: #95D0A9;
    margin: 0 auto;
}

main {
    max-width: 60vw;
    margin: 0 auto;
}

#container {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#container>img {
    max-width: 700px;
    max-height: 500px;
    padding: 40px;
    align-items: flex-start;
    align-items: center;
}

#container>div {
    width: 50px;
    max-height: 1px;
}


#MyInteraction {
    padding: 10px;
}

.map2 {
    margin-top: 10px;
    margin-left: 3px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

.header {
    background: black;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin: auto;
    top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.headerTitle {
    color: white;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 400;
}

.headerButton {
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: none;
    font-size: 150%;
    letter-spacing: 2px;
}

.headerButton:hover {
    cursor: pointer;
}

.VanGoghMuseum {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;
}

.VanGoghMuseum>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ArtPieces {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    border-radius: 8px;
    padding: 20px;
}

.ArtPieces>div {
    width: calc(100% / 3 - 60px / 3);
}

.ArtPieces>div>img {
    width: 100%;
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
    justify-content: space-between;
    padding: 10px;
}

.OurHistory {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.OurHistory>figure {
    height: 100%;
}

.OurHistory>img {
    max-width: 1100px;
    max-height: 600px;
    ;
    padding: 40px;
}

.Time_Reviews {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.Time_Reviews>ul>li {
    padding: 5px;
}

.Time_Reviews>button {
    flex-direction: column;
}

.About_Van_Gogh {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.About_Van_Gogh>p {
    flex-direction: row;
    padding: 40px;
}

.About_Van_Gogh>img {
    max-width: 500px;
    max-height: 500px;
    margin-left: -385px;
}

.Contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

header {
    background-color: white;
    height: 120px;
}

.MyImage {
    width: auto;
    height: 50vh;
}

.TrustPilot {
    flex-direction: column;
    background-color: black;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

footer {
    margin-top: 10px;
    height: 40px;
    background-color: black;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}